@font-face {
    font-family: playfair;
    src: url('Font/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
}
@media only screen and (max-width: 991px) {
#nav li { 
    display: none; 
}
#tasbar { 
    width: 85%; 
}
#leftmenu {
    width: 100%;
    justify-content: space-between;
    margin-left: 0;
    padding-right: 7px;
    box-sizing: border-box;
}
}
@media only screen and (max-width: 500px) {
body {
    background-color: rgb(0, 0, 0);
}
#tasbar {
    width: 90%;
    justify-content: right;
    position: relative;
}
#nav li {
    display: none;
}

#leftmenu {
    width: 100%;
    justify-content: space-between;
    margin-left: 0;
    padding-right: 7px;
    box-sizing: border-box;
}

#start {
    padding-top: 15vh !important;
}

#slogan {
    width: 90vw !important;
    font-size: 2rem !important;
}

#welcome {
    width: 90vw !important;
}

}

body {
    margin: 0;
}

#header {
    height: 60px;
    background-color: rgba(255, 255, 255, 0);
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}

#tasbar {
    position: relative;
    height: 40px;
    width: 50%;
    display: flex;
    background-color: #74747430;
    backdrop-filter: blur(15px);
    border-radius: 99999px;
    margin: 20px auto 0px auto;
    border: 0.25px solid #72727280;
    align-items: center;
}

#leftmenu {
    display: flex;
    position: absolute;
}

#avartar img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: flex;
    justify-items: center;
    margin-left: 3px;
}

#name {
    font-family: 'Montserrat';
    font-weight: 900;
    color: #ffffffc9;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 7px;
}

#nav {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
}

#nav li {
    width: 100px;
    text-align: center;
    color: #808080;
    font-weight: 500;
}

#nav li a {
    font-family: 'Montserrat';
    color: #acacac;
    text-decoration: none;
    height: 35px;
    padding: 0 10px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav li:hover a {
    background-color: #9b9b9b71 ;
    color: #ffffff;
    height: 35px;
    width: 73px;
    margin: auto auto auto auto;
    align-items: center;
    justify-content: center;
    border-radius: 99999px;
    box-shadow: 0 0 30px #adadad44  ;
    transition: 
        background-color 0.4s ease,
        color 0.5s ease,
        box-shadow 0.5s ease;
}

#nav li:active a {
    background-color: #9b9b9b71 ;
    color: #ffffff;
    height: 35px;
    width: 73px;
    margin: auto auto auto auto;
    align-items: center;
    justify-content: center;
    border-radius: 99999px;
    box-shadow: 0 0 30px #adadad44  ;
    transition: 
        background-color 0.4s ease,
        color 0.5s ease,
        box-shadow 0.5s ease;
}


#home {
    margin: 0;
    padding: 0;
    width: 100vw;            
    height: 2000px;
    background-color: rgb(0, 0, 0);
}

#start {
    display: flex;
    flex-direction: column;
    margin: auto auto auto auto;
    padding: 200px 0;
    height: 500px;
    width: 50vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 50px #ffffff;
}

#portfolio {
    font-family: 'Montserrat';
    font-weight: 800;
    background: linear-gradient(to left,#CADCFC, #225cfa, #007cf0);
    background-clip: text;         
    color: transparent;
    text-align: center;
    justify-content: center;
    align-items: center;
}


#slogan {
    display: flex;
    font-family: 'playfair'; 
    font-weight: 600;
    margin: 0;
    height: auto;
    width: 50vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 0 0 5rem 1rem #7a7a7a2c  ;
}

#welcome {
    font-family: 'Montserrat';
    font-weight: 500;
    color: #afafaf;
    padding-top: 1vh;
    font-size: 1.25rem;
}

#about {
    height: 2000px;
    background-color: rgb(51, 51, 51);
}

#project {
    height: 2000px;
    background-color: rgb(122, 122, 122);
}

#contact {
    height: 2000px;
    background-color: rgb(209, 209, 209);
}