body {
    margin: 0;
}

h1 {
    font-family: 'Montserrat';
    font-size: 1;
}

#header {
    height: 60px;
    background-color: rgba(255, 255, 255, 0);
    top: 0;
    left: 0;
    right: 0;
    position: fixed;

}


#tasbar {
    height: 40px;
    width: 400px;
    display: flex;
    background-color: #ffffff30;
    backdrop-filter: blur(10px);
    border-radius: 99999px;
    margin: 20px auto 0px auto;
    border: 0.25px solid #c4c1c180;
    align-items: center;
}

#nav {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

#nav li {
    width: 100px;
    text-align: center;
    color: #9c9c9c;
    font-weight: 500;
    
    
}

#nav li a {
    font-family: 'Montserrat';
    color: #CADCFC;
    text-decoration: none;
    height: 35px;
    padding: 0 10px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav li:hover a {
    background-color: #9b9b9b71 ;
    color: #ffffff;
    height: 35px;
    width: 73px;
    margin: auto auto auto auto;
    align-items: center;
    justify-content: center;
    border-radius: 99999px;
    box-shadow: 0 0 30px #adadad44  ;
    transition: 
        background-color 0.5s ease,
        color 0.5s ease,
        box-shadow 0.5s ease;

}








#slider {
    margin: 0;
    padding: 0;
    width: 100%;            
    height: 2920px;
    background: linear-gradient(135deg, #1a2a6c, #b21f1f, #fdbb2d);
}

#slider h1 {
    margin: 0;
    line-height: 1000px;
    text-align: center;
    font-size: 100px;
    color: #ffffff;
    text-shadow: 0 0 50px #ffffff8a  ;
}

#content {
    height: 1080px;
    background: linear-gradient(135deg, #1a2a6c, #b21f1f, #fdbb2d);
}

#footer {
    height: 520px;
    background: linear-gradient(135deg, #1a2a6c, #b21f1f, #fdbb2d);
}