h1 {
    font-family: 'Montserrat';
    font-size: 1;
}

#header {
    height: 50px;
    background-color: #00246B;
    display: flex;
}

#logo {
    margin: 0 10px;
    color: #e6edfa;
    line-height: 50px;
    padding: 5px 10px;
    align-items: center;
}

#logo img {
    object-fit: cover;
    width: 40px;
    height: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    
}

#nav {
    margin: 0px;
    margin-left: auto;
}

#nav li {
    display: inline-block;
    width: 130px;
    text-align: center;
}

#nav li a {
    font-family: 'Montserrat';
    color: #CADCFC;
    text-decoration: none;
    line-height: 50px;
    padding: 0 20px;
    
    
}

#nav li:hover a {
    background-color: #0540b6 ;
    color: #e6edfa;
    font-weight: bold;
    display: inline-block;
    border-radius: 20px;
}

#slider {
    height: 1080px;
    background-color: antiquewhite;
}

#slider h1 {
    margin: 0;
    line-height: 500px;
    text-align: center;
    font-size: 100px;
}

#content {
    height: 1080px;
    background-color: rgb(236, 206, 167);
}

#footer {
    height: 520px;
    background-color: rgb(255, 202, 133);
}