@font-face {
    font-family: playfair;
    src: url('Font/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
}

@media only screen and (max-width: 500px) {
body {
    background-color: lightblue;
}
#tasbar {
    width: 90%;
    justify-content: right;
    position: relative;
}
#nav li {
    display: none;
}

#name {
    padding-left: 0 !important;
    padding-right: 2vw;
}

}

body {
    margin: 0;
}

#header {
    height: 60px;
    background-color: rgba(255, 255, 255, 0);
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}

#tasbar {
    position: relative;
    height: 40px;
    width: 50%;
    display: flex;
    background-color: #74747430;
    backdrop-filter: blur(15px);
    border-radius: 99999px;
    margin: 20px auto 0px auto;
    border: 0.25px solid #72727280;
    align-items: center;
}

#avartar img {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: flex;
    justify-items: center;
    margin-left: 3px;
    transform: translateY(-50%);
}

#name {
    position: absolute;
    font-family: 'Montserrat';
    font-weight: 900;
    color: #ffffffc9;
    padding-left: 5vh;
}

#nav {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center
}

#nav li {
    width: 100px;
    text-align: center;
    color: #808080;
    font-weight: 500;
}

#nav li a {
    font-family: 'Montserrat';
    color: #acacac;
    text-decoration: none;
    height: 35px;
    padding: 0 10px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav li:hover a {
    background-color: #9b9b9b71 ;
    color: #ffffff;
    height: 35px;
    width: 73px;
    margin: auto auto auto auto;
    align-items: center;
    justify-content: center;
    border-radius: 99999px;
    box-shadow: 0 0 30px #adadad44  ;
    transition: 
        background-color 0.4s ease,
        color 0.5s ease,
        box-shadow 0.5s ease;
}




#home {
    margin: 0;
    padding: 0;
    width: 100vw;            
    height: 2000px;
    background-color: rgb(0, 0, 0);
}

#slogan {
    display: flex;
    font-family: 'playfair'; 
    font-weight: 600;
    margin: auto auto auto auto;
    padding: 200px 0;
    height: 500px;
    width: 50vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: #ffffff;
    text-shadow: 0 0 50px #ffffff8a  ;
}



#about {
    
}

#project {
    
}

#contact {

}